@import "./base/globals";
@import "./base/variables";
@import "./base/mixins";
// header
.header-mid {
    .navbar-collapse {
        justify-content: center;
        background: none;
    }
}

.disp-flex {
    display: flex;
    align-items: center;
}

.j-c-c {
    justify-content: center;
}

.j-c-r {
    justify-content: right;
}

.j-c-l {
    justify-content: left;
}

// header-right
.hr-img {
    position: relative;
    img {
        object-fit: cover;
        width: 420px;
        height: 580px;
        border-radius: 755px 18px 392px 439px;
    }
    &::after {
        position: absolute;
        height: 200px;
        width: 40px;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
        background: #bebebe3b;
        content: "";
        bottom: 71px;
        z-index: -1;
        left: 161px;
        transform: rotate(0.13turn);
    }
    &::before {
        position: absolute;
        height: 500px;
        width: 40px;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
        background: #bebebe3b;
        content: "";
        bottom: -137px;
        z-index: -1;
        left: 161px;
        transform: rotate(0.13turn);
    }
}

.no-pad {
    padding: 0;
}

.header-main {
    position: relative;
    a.nav-link {
        color: #222465;
        font-weight: 600;
    }
}

.header-mid {
    width: 60%;
    position: absolute;
    left: 43%;
    transform: translateX(-50%);
}

.header-wrapper {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.header-right {
    position: absolute;
    right: 0;
}

.mais-single {
    padding: 0 32px;
    position: relative;
    right: 0;
    img {
        width: 1300px;
        height: 600px;
        object-fit: cover;
        border-top-left-radius: 290px;
        border-bottom-left-radius: 290px;
        padding: 50px 0 50px 50px;
    }
    &::after {
        position: absolute;
        height: 200px;
        width: 40px;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
        background: #bebebe3b;
        content: "";
        bottom: 71px;
        z-index: -1;
        left: 161px;
        transform: rotate(0.13turn);
    }
    &::before {
        position: absolute;
        height: 200px;
        width: 40px;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
        background: #bebebe3b;
        content: "";
        bottom: -6px;
        z-index: -1;
        left: 161px;
        transform: rotate(0.13turn);
    }
}

.ms-single {
    display: flex;
    align-items: center;
    margin: 28px 0;
    padding: 0 20px;
}

.mss-left {
    position: relative;
    i {
        height: 140px;
        width: 140px;
        background-image: linear-gradient(#222465, #e34046);
        color: white;
        text-align: center;
        line-height: 140px;
        font-size: 42px;
        border-radius: 50%;
        box-shadow: 12px 11px 35px 0px #0000004d;
    }
    &::before {
        position: absolute;
        height: 130px;
        width: 30px;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
        background: #bebebe1e;
        content: "";
        bottom: 0px;
        z-index: -1;
        left: 5px;
        transform: rotate(0.13turn);
    }
    &::after {
        position: absolute;
        height: 100px;
        width: 30px;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
        background: #bebebe1e;
        content: "";
        bottom: -45px;
        z-index: -1;
        left: 5px;
        transform: rotate(0.13turn);
    }
}

.mss-right {
    padding: 0 20px;
    .mssr-title {
        h6 {
            font-size: 18px;
            color: #676767;
        }
    }
    p {
        font-size: 13px;
        text-align: left;
        line-height: 22px;
    }
}

.mssr-title {
    margin-bottom: 12px;
    text-transform: capitalize;
}

.learn-more-plain {
    a {
        color: $primary-color;
        font-size: 13px;
        font-weight: 600;
    }
}

.main-booking {
    background-image: linear-gradient(#33368a, #171946);
    color: white;
}

.mb-image {
    text-align: center;
    position: relative;
    z-index: 23;
    img {
        height: 450px;
        width: 450px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 12px 11px 35px 0px #0000004d;
        z-index: 3;
    }
    &::before {
        position: absolute;
        height: 380px;
        width: 40px;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
        background: #bebebe3b;
        content: "";
        bottom: -45px;
        z-index: -80;
        left: 27px;
        transform: rotate(0.13turn);
    }
    &::after {
        position: absolute;
        height: 309px;
        width: 40px;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
        background: #bebebe3b;
        content: "";
        bottom: -43px;
        z-index: -80;
        left: 104px;
        transform: rotate(0.13turn);
    }
}

.mb-left-wrapper {
    padding: 100px 80px;
}

.mb-title {
    margin: 20px 0;
    h4 {
        font-size: 38px;
    }
}

.mb-text {
    p {
        font-size: 12px;
        color: #ffffff;
        line-height: 23px;
    }
}

.book-ielts {
    margin: 32px 12px 32px 0px;
    background-image: linear-gradient(to right, #5e62ff, #e34046);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 32px;
    a {
        color: white;
        font-weight: 400;
        text-transform: capitalize;
    }
}

.apply-online {
    background-image: linear-gradient(to right, #e34046, #ff5a1f);
}

.mss-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background: linear-gradient(#222465, #e34046);
}

.stat-single {
    background: #fefefe;
    text-align: center;
    border-radius: 50%;
    padding: 30px;
    height: 200px;
    width: 200px;
    line-height: 100px;
    position: relative;
}

.stat-gradiant-wrapper {
    height: 210px;
    width: 210px;
    background: linear-gradient(#222465, #e34046);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ss-text {
    h6 {
        color: #676767;
        font-weight: 600;
        text-transform: uppercase;
    }
}

.view-all-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 30px;
    background: linear-gradient(to right, #222465, #e34046);
    display: inline-block;
    border-radius: 32px;
    a {
        color: white;
        font-size: 13px;
        text-transform: capitalize;
    }
}

.mt-left {
    img {
        height: 180px;
        width: 180px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 12px 11px 35px 0px #0000004d;
    }
}

.mt-right {
    padding: 0 16px;
    .mtr-text {
        margin: 12px 0;
        p {
            font-size: 13px;
            line-height: 18px;
        }
    }
}

.mt-single {
    display: flex;
    align-items: center;
    margin: 21px 0;
}

.mtr-student {
    h6 {
        color: #e34046;
        font-weight: 400;
        font-size: 14px;
    }
    span {
        margin-left: 6px;
        color: #676767;
    }
    h5 {
        color: #676767;
    }
}

.mb-img {
    img {
        height: 200px;
        width: 100%;
        object-fit: cover;
    }
}

.mb-single {
    border-radius: 24px;
    outline: 2px solid #f3f3f3;
    margin-bottom: 26px;
    a {
        color: #686868;
    }
}

.mb-content {
    padding: 8px 12px;
}

.mb-img {
    img {
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
    }
}

.main-blog {
    .mb-title {
        margin: 8px 0;
        h6 {
            font-size: 15px;
            color: black;
        }
    }
}

.mb-date {
    span {
        color: #8c8c8c;
        font-size: 12px;
    }
}

.mb-title {
    h6 {
        line-height: 20px;
    }
}

.main-associates {
    background: #fafafa;
}

.ma-single {
    img {
        height: 150px;
        width: 150px;
        object-fit: contain;
    }
}

.main-footer {
    padding: 100px 0;
    background-image: linear-gradient(#33368a, #171946);
}

.mf-logo {
    img {
        height: 150px;
        width: 150px;
        object-fit: contain;
    }
}

.main-stat {
    .row {
        margin-right: 110px;
        margin-left: 110px;
    }
}

.footer-title {
    h6 {
        color: white;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
    }
}

.footer-links {
    padding: 12px 0;
    li {
        text-transform: capitalize;
        color: #da4a4a;
        margin: 6px 0;
        a {
            font-size: 14px;
            color: white;
        }
        &::before {
            content: "\f0c1";
            font-family: "Font Awesome 5 Free";
            font-weight: 800;
            color: #da4a4a;
            font-size: 12px;
        }
    }
}

.about-full-image {
    margin: 40px 0;
    img {
        width: 1300px;
        height: 600px;
        object-fit: cover;
        border-top-right-radius: 290px;
        border-bottom-right-radius: 290px;
        padding: 0px 50px 50px 0px;
    }
}

.ac-title {
    margin: 16px 0;
    h6 {
        color: #676767;
        font-size: 24px;
    }
}

.ac-single {
    padding: 8px 60px;
    p {
        text-align: justify;
    }
}

.services {
    padding: 0 80px;
    .sec-title {
        margin: 16px 0;
        text-align: left;
    }
    .mss-left i {
        height: 80px;
        width: 80px;
        line-height: 80px;
        font-size: 28px;
    }
    .mss-left::after {
        position: absolute;
        height: 66px;
        width: 16px;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
        background: #bebebe1e;
        content: "";
        bottom: -29px;
        z-index: -1;
        left: -8px;
        -webkit-transform: rotate(0.13turn);
        transform: rotate(0.13turn);
    }
    .mss-left::before {
        position: absolute;
        height: 90px;
        width: 18px;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
        background: #bebebe1e;
        content: "";
        bottom: 0px;
        z-index: -1;
        left: 5px;
        -webkit-transform: rotate(0.13turn);
        transform: rotate(0.13turn);
    }
}

.inner-page-text {
    width: 60%;
    padding-bottom: 18px;
}

.ss-text {
    width: 90%;
}

.services-single {
    padding-bottom: 20px;
}

.team-content {
    .row {
        margin-right: 280px;
        margin-left: 60px;
    }
    .team-single {
        margin-bottom: 18px;
    }
}

.gallery-content {
    .gcc-title {
        padding: 12px 0;
        h6 {
            font-size: 21px;
            color: grey;
        }
    }
}

.gcc-single {
    margin: 12px 0;
    a {
        img {
            height: 200px;
            width: 100%;
            object-fit: cover;
            border-radius: 32px;
        }
    }
}

.gc-content {
    padding: 20px 60px;
}

.blog {
    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: 47px;
        margin-left: 40px;
    }
}

.testimonial-single {
    .mt-right {
        padding: 0;
    }
    .ts-text {
        p {
            font-size: 13px;
            line-height: 20px;
        }
    }
}

.blog-title {
    h2 {
        font-size: 24px;
        text-transform: capitalize;
    }
}

.blog-date {
    margin-bottom: 18px;
    padding-left: 60px;
    span {
        font-weight: 500;
        color: grey;
    }
}

.contacts {
    padding: 12px 0;
    li {
        margin-bottom: 6px;
        a {
            color: #676767;
        }
    }
}

.contact-form {
    border: 2px solid #efefef;
    padding: 30px 60px;
    border-radius: 32px;
    margin-left: 60px;
    margin-right: 500px;
    margin-bottom: 60px;
    .form-control {
        border-radius: 32px;
        padding: 18px 24px;
    }
    .form-group {
        padding: 10px 0;
        label {
            color: $primary-color;
        }
         ::placeholder {
            font-size: 12px;
        }
    }
    button {
        outline: none;
        border: none;
        color: white;
    }
}