html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background: #fefefe;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "poppins", sans-serif;
}

body a {
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
  text-decoration: none;
}

body a:hover {
  text-decoration: none;
}

body a:focus {
  outline: none;
}

body ul {
  margin: 0;
  padding: 0;
}

body ul li {
  list-style-type: none;
}

body p {
  font-weight: 00;
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
}

.container {
  max-width: 1400px;
}

.sec-title-about {
  padding-top: 62px;
  padding-bottom: 12px;
}

.sec-title-about h6 {
  color: #969696;
  font-weight: 300;
}

.sec-title-about h5 {
  color: #222465;
  font-size: 48px;
  font-weight: 800;
  text-transform: uppercase;
}

.sec-title-about span {
  display: block;
}

.ma-text {
  width: 55%;
}

section.main-about.sec-padding {
  padding: 0 30px;
}

.learn-more {
  margin: 12px 0;
  border-radius: 32px;
  padding: 10px 20px;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(#3d40ac), color-stop(83%, #ff5359));
  background-image: linear-gradient(to right, #3d40ac, #ff5359 83%);
}

.learn-more a {
  color: white;
}

.sec-padding {
  padding: 40px 0;
}

.sec-title {
  text-align: center;
  color: #222465;
  text-transform: uppercase;
  font-weight: 600;
  margin: 32px 0;
  text-align: center;
}

.sec-title h6 {
  margin: 12px 0;
  font-weight: 500;
  font-size: 12px;
  color: #3d3d3d;
  padding: 0 250px;
  text-align: center;
  text-transform: capitalize;
}

.header-mid .navbar-collapse {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: none;
}

.disp-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.j-c-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.j-c-r {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.j-c-l {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.hr-img {
  position: relative;
}

.hr-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 420px;
  height: 580px;
  border-radius: 755px 18px 392px 439px;
}

.hr-img::after {
  position: absolute;
  height: 200px;
  width: 40px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  background: #bebebe3b;
  content: "";
  bottom: 71px;
  z-index: -1;
  left: 161px;
  -webkit-transform: rotate(0.13turn);
          transform: rotate(0.13turn);
}

.hr-img::before {
  position: absolute;
  height: 500px;
  width: 40px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  background: #bebebe3b;
  content: "";
  bottom: -137px;
  z-index: -1;
  left: 161px;
  -webkit-transform: rotate(0.13turn);
          transform: rotate(0.13turn);
}

.no-pad {
  padding: 0;
}

.header-main {
  position: relative;
}

.header-main a.nav-link {
  color: #222465;
  font-weight: 600;
}

.header-mid {
  width: 60%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0;
}

.header-right {
  position: absolute;
  right: 0;
}

.mais-single {
  padding: 0 32px;
  position: relative;
  right: 0;
}

.mais-single img {
  width: 1300px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 290px;
  border-bottom-left-radius: 290px;
  padding: 50px 0 50px 50px;
}

.mais-single::after {
  position: absolute;
  height: 200px;
  width: 40px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  background: #bebebe3b;
  content: "";
  bottom: 71px;
  z-index: -1;
  left: 161px;
  -webkit-transform: rotate(0.13turn);
          transform: rotate(0.13turn);
}

.mais-single::before {
  position: absolute;
  height: 200px;
  width: 40px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  background: #bebebe3b;
  content: "";
  bottom: -6px;
  z-index: -1;
  left: 161px;
  -webkit-transform: rotate(0.13turn);
          transform: rotate(0.13turn);
}

.ms-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 28px 0;
  padding: 0 20px;
}

.mss-left {
  position: relative;
}

.mss-left i {
  height: 140px;
  width: 140px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222465), to(#e34046));
  background-image: linear-gradient(#222465, #e34046);
  color: white;
  text-align: center;
  line-height: 140px;
  font-size: 42px;
  border-radius: 50%;
  -webkit-box-shadow: 12px 11px 35px 0px #0000004d;
          box-shadow: 12px 11px 35px 0px #0000004d;
}

.mss-left::before {
  position: absolute;
  height: 130px;
  width: 30px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  background: #bebebe1e;
  content: "";
  bottom: 0px;
  z-index: -1;
  left: 5px;
  -webkit-transform: rotate(0.13turn);
          transform: rotate(0.13turn);
}

.mss-left::after {
  position: absolute;
  height: 100px;
  width: 30px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  background: #bebebe1e;
  content: "";
  bottom: -45px;
  z-index: -1;
  left: 5px;
  -webkit-transform: rotate(0.13turn);
          transform: rotate(0.13turn);
}

.mss-right {
  padding: 0 20px;
}

.mss-right .mssr-title h6 {
  font-size: 18px;
  color: #676767;
}

.mss-right p {
  font-size: 13px;
  text-align: left;
  line-height: 22px;
}

.mssr-title {
  margin-bottom: 12px;
  text-transform: capitalize;
}

.learn-more-plain a {
  color: #222465;
  font-size: 13px;
  font-weight: 600;
}

.main-booking {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#33368a), to(#171946));
  background-image: linear-gradient(#33368a, #171946);
  color: white;
}

.mb-image {
  text-align: center;
  position: relative;
  z-index: 23;
}

.mb-image img {
  height: 450px;
  width: 450px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 12px 11px 35px 0px #0000004d;
          box-shadow: 12px 11px 35px 0px #0000004d;
  z-index: 3;
}

.mb-image::before {
  position: absolute;
  height: 380px;
  width: 40px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  background: #bebebe3b;
  content: "";
  bottom: -45px;
  z-index: -80;
  left: 27px;
  -webkit-transform: rotate(0.13turn);
          transform: rotate(0.13turn);
}

.mb-image::after {
  position: absolute;
  height: 309px;
  width: 40px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  background: #bebebe3b;
  content: "";
  bottom: -43px;
  z-index: -80;
  left: 104px;
  -webkit-transform: rotate(0.13turn);
          transform: rotate(0.13turn);
}

.mb-left-wrapper {
  padding: 100px 80px;
}

.mb-title {
  margin: 20px 0;
}

.mb-title h4 {
  font-size: 38px;
}

.mb-text p {
  font-size: 12px;
  color: #ffffff;
  line-height: 23px;
}

.book-ielts {
  margin: 32px 12px 32px 0px;
  background-image: -webkit-gradient(linear, left top, right top, from(#5e62ff), to(#e34046));
  background-image: linear-gradient(to right, #5e62ff, #e34046);
  display: inline-block;
  padding: 10px 20px;
  border-radius: 32px;
}

.book-ielts a {
  color: white;
  font-weight: 400;
  text-transform: capitalize;
}

.apply-online {
  background-image: -webkit-gradient(linear, left top, right top, from(#e34046), to(#ff5a1f));
  background-image: linear-gradient(to right, #e34046, #ff5a1f);
}

.mss-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 210px;
  width: 210px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#222465), to(#e34046));
  background: linear-gradient(#222465, #e34046);
}

.ms-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: whitesmoke;
}
/*# sourceMappingURL=main.css.map */