@import "./variables";
@import "./mixins";
html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-family: "poppins", sans-serif;
    a {
        transition: 0.25s linear;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
        &:focus {
            outline: none;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style-type: none;
        }
    }
    p {
        font-weight: 00;
        font-size: 14px;
        line-height: 24px;
        text-align: justify;
    }
}

.container {
    max-width: 1400px;
}

.sec-title-about {
    padding-top: 62px;
    padding-bottom: 12px;
    h6 {
        color: #969696;
        font-weight: 300;
    }
    h5 {
        color: $primary-color;
        font-size: 48px;
        font-weight: 800;
        text-transform: uppercase;
    }
    span {
        display: block;
    }
}

.ma-text {
    width: 55%;
}

section.main-about.sec-padding {
    padding: 0 30px;
}

.learn-more {
    margin: 12px 0;
    border-radius: 32px;
    padding: 10px 20px;
    display: inline-block;
    background-image: linear-gradient(to right, #3d40ac, #ff5359 83%);
    a {
        color: white;
    }
}